<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
  >
  <link
    rel="stylesheet"
    href="css/bootstrap.min.css"
  >
  <link
    rel="stylesheet"
    href="css/chat.css"
  />
  <link
    rel="stylesheet"
    href="css/style.css"
  >


  <title>Ecommerce Backend</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper containerMain">
      <a
        href="/"
        class="brand-logo"
      >Ecommerce by handlebars</a>
      <ul
        id="nav-mobile"
        class="right hide-on-med-and-down"
      >
        <li><a href="/">Home</a></li>
        <li><a href="/viewProducts">ProductsPaginate</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/realTimeProducts">realTimeProducts</a></li>
      </ul>
    </div>
  </nav>
  {{{body}}}
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>